In [64]:
#-*- coding:utf-8 -*-
import pandas as pd
import numpy as np
import sys

In [65]:
# 데이터 불러오기
data = pd.read_csv("./17-18 basketball.csv")
team_code_data = pd.read_csv("./17-18 team_code.csv", encoding='euc-kr')
player_code_data = pd.read_csv("./17-18 player_code.csv", encoding='euc-kr')

In [66]:
# 선수 코드 시리즈 생성

player_code = pd.Series(player_code_data['kname'])
player_code.index = (player_code_data['player_no'])

In [67]:
# 선수 이름 매핑

name = []

for i in range(len(data)) :
    try:
        n = player_code[data.iloc[i]['player_no']]
        if type(n) == str :
            name.append(n)
        else :
            name.append(n.values[0])
    except:
        name.append(np.nan)
        
data['name'] = name

In [68]:
# 팀 코드 시리즈 생성

team_code = pd.Series(team_code_data['team_name_1'])
team_code.index = team_code_data['team_code']

In [69]:
# 팀 이름 매핑

team_name = []

for i in range(len(data)) :
    try:
        n = team_code[data.iloc[i]['team_code']]
        if type(n) == str :
            team_name.append(n)
        else :
            team_name.append(n.values[0])
    except:
        team_name.append(np.nan)
        
data['team_name'] = team_name

In [70]:
len(data)

8636

In [71]:
# 결측치 제거

data = data.dropna(axis=0)

In [72]:
len(data)

7683

In [73]:
# 외국인 제외

local_data = data[data['name'].apply(lambda x: len(x) <= 3)]

In [74]:
len(local_data)

6541

In [75]:
column = data.columns[10:38]
playerData = []

for i in column :
    playerData.append(local_data.groupby(['team_name', 'name'])[i].sum())
    
df = pd.DataFrame(playerData)
df

team_name 고양오리온                                               ... 창원LG        \
name        김강선  김도수 김병철   김진유   문태종  민성주  성재준  송창무  이진욱 이호영  ...  안정환   양우섭
play_min    408   93   0   662   825  151   12  174  208   2  ...   73   777
play_sec    675  594   0  1443  1177  770  212  941  562  13  ...  455  1343
fg           23    4   0    39    84    6    1   18   11   1  ...    2    67
fg_a         49    6   0    83   137   27    1   30   25   2  ...    4   136
ft           30    0   0     7    48    3    0    5    2   0  ...    1    18
ft_a         35    0   0    21    64    4    0    7    3   0  ...    1    27
threep       22    2   0    19    36    0    1    0    2   0  ...    5    35
threep_a     54    2   0    64   110    0    2    0   18   0  ...   16   106
dk            0    0   0     0     0    0    0    0    0   0  ...    0     1
dk_a          0    0   0     0     0    0    0    0    0   0  ...    0     1
pp           21    4   0    38    69    4    1   17    8   1  ...    0    46
pp_a         40    5   0    77   104    9    1   28   15   1  ...    0    78
o_r          12    2   0    15    27   10    0   12    3   0  ...    4    26
d_r          27    8   0    49   118   15    0   15    5   0  ...    3    60
a_s          24    9   0    73    60    6    0    6   23   0  ...    1    99
s_t          13    1   0    35    28    3    1    8    8   1  ...    1    32
b_s           1    0   0     7    14    3    0    3    1   0  ...    1     3
gd            1    0   0     8     1    0    0    0    1   0  ...    0     0
t_o          23    4   0    38    37    2    0    7   18   0  ...    1    44
wft          22    2   0    43    47   25    2   30    7   0  ...   10    31
woft         35    3   1    63    30   17    2   10    8   0  ...    3    60
idf           0    0   0     0     0    0    0    0    0   0  ...    0     0
tf            0    0   0     0     0    0    0    0    0   0  ...    0     1
ef            1    0   0     0     0    0    0    0    0   0  ...    0     1
foul_tot     57    5   1   106    77   42    4   40   15   0  ...   13    91
fb            0    0   0     0     0    0    0    0    0   0  ...    0     0
p_score      42    8   0    76   138    8    2   34   16   2  ...    0    92
score       142   14   0   142   324   15    5   41   30   2  ...   20   257

team_name
name       정성우  정인덕  정준원   정창영  정해원  조상열   조성민   최승욱
play_min   114   77  112   969   15  188  1264   499
play_sec   321  291  414  1469  199  756  1460  1148
fg           6    2    9    54    1    2    44    34
fg_a        19    5   24   117    2   13    96    74
ft           2    0    2    54    0    0    66     7
ft_a         3    0    4    67    0    2    74    10
threep       3    2    4    39    1   13    76    15
threep_a    19    9   23   116    6   42   209    44
dk           0    0    0     0    0    0     0     0
dk_a         0    0    0     0    0    0     0     0
pp           6    2    9    49    0    2    32    23
pp_a        16    5   16    95    0    7    55    32
o_r          3    4    5    27    1    7    18    24
d_r         11    4    8    96    0    9    86    30
a_s         18    2    4   113    0   10    88    23
s_t          8    1    5    44    0    3    36    19
b_s          2    1    1     6    0    1     2     4
gd           3    3    0     4    0    4     6     3
t_o          4    3    7    50    2    8    50    17
wft          5    4    9    60    1   23    56    37
woft         9    6   10    60    1   20    66    17
idf          0    0    0     0    0    0     0     0
tf           0    0    0     0    0    0     0     0
ef           0    0    0     0    0    1     1     0
foul_tot    14   10   19   120    2   43   122    54
fb           0    0    0     0    0    0     0     0
p_score     12    4   18    98    0    4    64    46
score       23   10   32   279    5   43   382   120

[28 rows x 187 columns]

In [76]:
# 팀 토탈 시간

team_time_info = []
teamCode = local_data['team_name'].unique()
teamTime = []
team_in_players = []

for i in teamCode :
    teamTime.append((df[i][:].loc['play_min'].sum() * 60 + df[i][:].loc['play_sec'].sum()) / 60)
    team_in_players.append(len(df[i].columns))
    
team_info = pd.Series(teamTime, index=teamCode)
team_info_sort = team_info.sort_index().tolist()

for i,j in zip(team_info_sort, team_in_players) :
    for k in range(j) :
        team_time_info.append(i)

In [77]:
# 팀 토탈 슛시도

team_fga_info = []
teamFga = []

for i in teamCode :
    teamFga.append((local_data.groupby(['team_name'])['fg_a'].sum())[i] + (local_data.groupby(['team_name'])['threep_a'].sum())[i])
    
team_info = pd.Series(teamFga, index=teamCode)
team_info_sort = team_info.sort_index().tolist()

for i,j in zip(team_info_sort, team_in_players) :
    for k in range(j) :
        team_fga_info.append(i)

In [78]:
# 팀 토탈 자유투시도

team_fta_info = []
teamFta = []

for i in teamCode :
    teamFta.append((local_data.groupby(['team_name'])['ft_a'].sum())[i])
    
team_info = pd.Series(teamFta, index=teamCode)
team_info_sort = team_info.sort_index().tolist()

for i,j in zip(team_info_sort, team_in_players) :
    for k in range(j) :
        team_fta_info.append(i)

In [79]:
# 팀 토탈 턴오버

team_to_info = []
teamTo = []

for i in teamCode :
    teamTo.append((local_data.groupby(['team_name'])['t_o'].sum())[i])
    
team_info = pd.Series(teamTo, index=teamCode)
team_info_sort = team_info.sort_index().tolist()

for i,j in zip(team_info_sort, team_in_players) :
    for k in range(j) :
        team_to_info.append(i)

In [80]:
# 팀 토탈 어시스트

team_ast_info = []
teamAst = []

for i in teamCode :
    teamAst.append((local_data.groupby(['team_name'])['a_s'].sum())[i])
    
team_info = pd.Series(teamAst, index=teamCode)
team_info_sort = team_info.sort_index().tolist()

for i,j in zip(team_info_sort, team_in_players) :
    for k in range(j) :
        team_ast_info.append(i)

In [81]:
# 팀 토탈 필드골

team_fg_info = []
teamFg = []

for i in teamCode :
    teamFg.append((local_data.groupby(['team_name'])['fg'].sum())[i])
    
team_info = pd.Series(teamFg, index=teamCode)
team_info_sort = team_info.sort_index().tolist()

for i,j in zip(team_info_sort, team_in_players) :
    for k in range(j) :
        team_fg_info.append(i)

In [82]:
df.loc[len(df)] = team_time_info
df.loc[len(df)] = team_fga_info
df.loc[len(df)] = team_fta_info
df.loc[len(df)] = team_to_info
df.loc[len(df)] = team_ast_info
df.loc[len(df)] = team_fg_info

In [83]:
df = df.rename(index={28 : 'team_time'})
df = df.rename(index={29 : 'team_fga'})
df = df.rename(index={30 : 'team_fta'})
df = df.rename(index={31 : 'team_to'})
df = df.rename(index={32 : 'team_ast'})
df = df.rename(index={33 : 'team_fg'})

In [84]:
df = df.T.reset_index()

In [85]:
df = df.set_index(df['name'])

In [86]:
# usg 계산

usg = []


for i in range(len(df.index)) :
    field_goal_attempts = df.iloc[i]['fg_a']
    free_throw_attempts = df.iloc[i]['ft_a']
    turnover = df.iloc[i]['t_o']
    team_total_minute = df.iloc[i]['team_time']
    three_point_attempt = df.iloc[i]['threep_a']
    team_field_goal_attempt = df.iloc[i]['team_fga']
    team_free_throw_attempt = df.iloc[i]['team_fta']
    team_turnover_attempt = df.iloc[i]['team_to']
    play_time = (df.iloc[i]['play_min'] * 60 + df.iloc[i]['play_sec']) / 60
    
    usg.append(((field_goal_attempts + three_point_attempt
                 + 0.44 * free_throw_attempts + turnover)
                * team_total_minute) / ((team_field_goal_attempt +
                                         0.44 * team_free_throw_attempt +
                                         team_turnover_attempt)
                                        * 5 * play_time))
    
df['usg'] = usg

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in double_scalars

In [87]:
# per parameter

league_fg = df['fg'].sum() #리그 필드골
league_ast = df['a_s'].sum() #리그 어시스트
league_ft = df['ft'].sum() #리그 자유투
league_score = df['score'].sum() #리그 득점
league_fga = df['fg_a'].sum() #리그 필드골 시도
league_fta = df['ft_a'].sum() #리그 자유투 시도
league_off_reb = df['o_r'].sum() #리그 공격리바운드
league_def_reb = df['d_r'].sum() #리그 수비리바운드
league_reb = league_off_reb + league_def_reb #리그 전체리바운드
league_to = df['t_o'].sum() #리그 턴오버
league_total_foul = df['foul_tot'].sum() #리그 파울

In [88]:
# per 계산

per = []
factor = 2/3 - ((0.5*(league_ast/league_fg)) / (2*(league_fg/league_ft)))
vop = league_score / (league_fga-league_off_reb + league_to + 0.44*league_fta)
drbp = league_def_reb / league_reb


for i in range(len(df.index)) :
    three_point = df.iloc[i]['threep']
    assist = df.iloc[i]['a_s']
    team_assist = df.iloc[i]['team_ast']
    team_field_goal = df.iloc[i]['team_fg']
    turnover = df.iloc[i]['t_o']
    field_goal_attempts = df.iloc[i]['fg_a']
    field_goal = df.iloc[i]['fg']
    free_throw_attempts = df.iloc[i]['ft_a']
    free_throw = df.iloc[i]['ft']
    deffensive_rebound = df.iloc[i]['d_r']
    offensive_rebound = df.iloc[i]['o_r']
    steal = df.iloc[i]['s_t']
    block = df.iloc[i]['b_s']
    foul = df.iloc[i]['foul_tot']
    play_time = (df.iloc[i]['play_min'] * 60 + df.iloc[i]['play_sec']) / 60
    per.append(1/play_time*
               (three_point + 
                ((2/3)*assist) + ((2-factor*(team_assist/team_field_goal))*field_goal) 
                + (free_throw*0.5*(1+(1-(team_assist/team_field_goal))+(2/3)*(team_assist/team_field_goal)))
                - (vop*turnover) - (vop*drbp*(field_goal_attempts-field_goal))
                - (vop*0.44*(0.44+(0.56*drbp))*(free_throw_attempts-free_throw))
                + (vop*(1-drbp)*deffensive_rebound) + (vop*drbp*offensive_rebound) 
                + (vop*steal) + (vop*drbp*block) - (foul*((league_ft/league_total_foul)-0.44*(league_fta/league_total_foul)*vop))))
    
df['per'] = per

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:25: RuntimeWarning: divide by zero encountered in double_scalars
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:32: RuntimeWarning: invalid value encountered in double_scalars

In [94]:
df[df['name'] == '전준범']

,team_name,name,play_min,play_sec,fg,fg_a,ft,ft_a,threep,threep_a,...,p_score,score,team_time,team_fga,team_fta,team_to,team_ast,team_fg,usg,per
name,,,,,,,,,,,,,,,,,,,,,
전준범,울산현대모비스,전준범,1443.0,1620.0,45.0,113.0,22.0,27.0,119.0,321.0,...,66.0,469.0,8026.733333,2312.0,415.0,393.0,778.0,599.0,0.187161,0.1848

In [90]:
# 총 출전시간 540분 미만 선수 제외

regular_df = df[(df['play_min'] * 60 + df['play_sec']) / 60 >= 540]

In [93]:
regular_df.sort_values(by='usg', ascending=False)[['team_name', 'usg', 'per']]

     team_name       usg       per
name
오세근      안양KGC  0.318088  0.445577
이대성    울산현대모비스  0.317453  0.181864
두경민       원주DB  0.297498  0.274053
이정현      전주KCC  0.273843  0.228450
허훈        부산KT  0.262038  0.271668
최진수      고양오리온  0.256667  0.254013
김시래       창원LG  0.242447  0.247383
이관희       서울삼성  0.240677  0.248585
하승진      전주KCC  0.239719  0.382949
김종규       창원LG  0.239387  0.290186
박찬희     인천전자랜드  0.238058  0.359251
문태영       서울삼성  0.237852  0.256766
김동욱       서울삼성  0.232560  0.164148
김주성       원주DB  0.229808  0.288037
이종현    울산현대모비스  0.229018  0.332817
문태종      고양오리온  0.227767  0.319209
김민수       서울SK  0.226666  0.263415
이재도      안양KGC  0.223398  0.272387
최준용       서울SK  0.221297  0.295937
강상재     인천전자랜드  0.214146  0.286349
김태홍       원주DB  0.213299  0.192946
박철호       부산KT  0.212992  0.249788
허일영      고양오리온  0.211971  0.240507
최부경       서울SK  0.210820  0.253651
전성현      안양KGC  0.209704  0.175320
양우섭       창원LG  0.209421  0.210455
송교창      전주KCC  0.206050  0.232300
전태풍      전주KCC  0.205953  0.276686
양홍석       부산KT  0.204201  0.308402
안영준       서울SK  0.203836  0.253526
정효근     인천전자랜드  0.201717  0.237675
박인태       창원LG  0.199811  0.173904
차바위     인천전자랜드  0.198190  0.229565
박지훈       부산KT  0.198145  0.222293
한호빈      고양오리온  0.197338  0.164883
양동근    울산현대모비스  0.192453  0.228976
변기훈       서울SK  0.190526  0.212128
박경상    울산현대모비스  0.187786  0.132387
전준범    울산현대모비스  0.187161  0.184800
김영환       부산KT  0.186983  0.221405
김태술       서울삼성  0.186529  0.189348
정영삼     인천전자랜드  0.183295  0.173254
함지훈    울산현대모비스  0.177397  0.287112
정창영       창원LG  0.176765  0.232948
김진유      고양오리온  0.174484  0.177478
조성민       창원LG  0.169062  0.178155
양희종      안양KGC  0.168164  0.223742
정재홍       서울SK  0.164207  0.230166
천기범       서울삼성  0.161032  0.204787
전정규      고양오리온  0.159294  0.144072
윤호영       원주DB  0.155256  0.348999
서민수       원주DB  0.152208  0.245874
이동엽       서울삼성  0.150302  0.194693
송창용      전주KCC  0.140905  0.138235
김상규     인천전자랜드  0.125058  0.217282
강병현      안양KGC  0.115244  0.144418
이현민      전주KCC  0.112226  0.190915

In [92]:
regular_df.sort_values(by='per', ascending=False)[['team_name', 'per', 'usg']]

     team_name       per       usg
name
오세근      안양KGC  0.445577  0.318088
하승진      전주KCC  0.382949  0.239719
박찬희     인천전자랜드  0.359251  0.238058
윤호영       원주DB  0.348999  0.155256
이종현    울산현대모비스  0.332817  0.229018
문태종      고양오리온  0.319209  0.227767
양홍석       부산KT  0.308402  0.204201
최준용       서울SK  0.295937  0.221297
김종규       창원LG  0.290186  0.239387
김주성       원주DB  0.288037  0.229808
함지훈    울산현대모비스  0.287112  0.177397
강상재     인천전자랜드  0.286349  0.214146
전태풍      전주KCC  0.276686  0.205953
두경민       원주DB  0.274053  0.297498
이재도      안양KGC  0.272387  0.223398
허훈        부산KT  0.271668  0.262038
김민수       서울SK  0.263415  0.226666
문태영       서울삼성  0.256766  0.237852
최진수      고양오리온  0.254013  0.256667
최부경       서울SK  0.253651  0.210820
안영준       서울SK  0.253526  0.203836
박철호       부산KT  0.249788  0.212992
이관희       서울삼성  0.248585  0.240677
김시래       창원LG  0.247383  0.242447
서민수       원주DB  0.245874  0.152208
허일영      고양오리온  0.240507  0.211971
정효근     인천전자랜드  0.237675  0.201717
정창영       창원LG  0.232948  0.176765
송교창      전주KCC  0.232300  0.206050
정재홍       서울SK  0.230166  0.164207
차바위     인천전자랜드  0.229565  0.198190
양동근    울산현대모비스  0.228976  0.192453
이정현      전주KCC  0.228450  0.273843
양희종      안양KGC  0.223742  0.168164
박지훈       부산KT  0.222293  0.198145
김영환       부산KT  0.221405  0.186983
김상규     인천전자랜드  0.217282  0.125058
변기훈       서울SK  0.212128  0.190526
양우섭       창원LG  0.210455  0.209421
천기범       서울삼성  0.204787  0.161032
이동엽       서울삼성  0.194693  0.150302
김태홍       원주DB  0.192946  0.213299
이현민      전주KCC  0.190915  0.112226
김태술       서울삼성  0.189348  0.186529
전준범    울산현대모비스  0.184800  0.187161
이대성    울산현대모비스  0.181864  0.317453
조성민       창원LG  0.178155  0.169062
김진유      고양오리온  0.177478  0.174484
전성현      안양KGC  0.175320  0.209704
박인태       창원LG  0.173904  0.199811
정영삼     인천전자랜드  0.173254  0.183295
한호빈      고양오리온  0.164883  0.197338
김동욱       서울삼성  0.164148  0.232560
강병현      안양KGC  0.144418  0.115244
전정규      고양오리온  0.144072  0.159294
송창용      전주KCC  0.138235  0.140905
박경상    울산현대모비스  0.132387  0.187786